.home{
    flex:1;
    width: 70%;
}

.homeWidgets{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 220px;
    position:absolute;
    right:100px;
}

.homeWidgets2{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
    position: relative;
    left: 38px;
}

@media screen and (max-width: 968px) {
    .homeWidgets2{
      width: 100%;
      display: flex;
      flex-direction:row;
    }
  }